{# ================ pin up the boxtips=========== #}

            <div class="allTips d-flex flex-column col-lg-8">
                {% set i = 0 %}

                {% for tip in sort %}
                
                    {% if (i % 2 == 0)%}
                    <div class="boxTips rounded p-4  bg-grey">
                    {% else %}
                    <div class="boxTips rounded p-4 ">
                    {% endif %}
                        {% set i = i + 1 %}
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-success m-0"> {{tip.numberUsers}} 
                            {% if tip.numberUsers == 1 %}
                                utilisateur </p>
                            {% else %}
                                utilisateurs </p>
                            {% endif %}                    
                            <form  class="col-4"method="post" 
                                {# if the user is not connected and clicks on the button, we redirect to the connection #}
                                {% if app.user %}
                                    {% if app.user.getActivationToken() == null %}
                                        action="{{ path('tips_newUser', {'id': tip.id,'url': app.request.uri}) }}">
                                    {% else %}
                                        action="{{ path('tips_new') }}">
                                    {% endif %}
                                {% else %}
                                    action="{{ path('app_login') }}">
                                {% endif %}
                                {#  #}
                                <input type="hidden" name="_method" value="USETIPS">
                                <input type="hidden" name="_token" value="{{ csrf_token('usetips' ~ tip.id) }}">
                                {# the button color changes if i use the tips #}
                                {% set flag = 0 %}
                                {% for useTips in tip.users %}
                                    {% if useTips == user %}
                                        {% set flag = 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if flag == 1 %}
                                    <button class="btn btn-success col-12 d-flex justify-content-center py-0 px-0 m-0">
                                {% else %}
                                    <button class="btn btn-primary col-12 d-flex justify-content-center py-0 px-0 m-0">
                                {% endif %}
                                {#  #}
                                    <img src="{{ asset('images/logo.png') }}" alt="Logo du site (Tips) ">
                                    <p class="align-self-center ml-1 m-0 text-white">J'utilise ce Tips</p>
                                </button>
                            </form>
                        </div>
                        <form method="post" action="{{ path('favoriteTips', {'id': tip.id,'url': app.request.uri}) }}">
                        <h3>{{tip.titleTips | upper}}
                        <input type="hidden" name="_method" value="FAVORITE">
                        <input type="hidden" name="_token" value="{{ csrf_token('favorite' ~ tip.id) }}">
                        <button class="invisible">
                        {% if app.user %}
                            {% if app.user.getActivationToken() == null %}
                                {% set flag1 = 0 %}
                                {% if app.user.favoriteTips == null %}
                                    <i class="fa fa-heart-o visible" aria-hidden="true"></i>
                                {% else %}
                                    {% for i in 0..app.user.favoriteTips|length -1 %}
                                        {% if app.user.favoriteTips[i] == tip.id %}
                                            {% set flag1 = 1 %}
                                            <i class="fa fa-heart visible" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}
                                    {% if flag1 == 0 %}
                                        <i class="fa fa-heart-o visible" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </button>
                        </form>
                        </h3>
                        <p>{{tip.contentTips}}</p>
                        <div class="boxIcon d-flex justify-content-between align-items-end mt-4">
                            {# share on Facebook #}
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>
                            <div class="fb-share-button" data-href="{{ path('tips_show', {'id': tip.id}) }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.google.fr%2Fmaps&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                            
                            {# display the lightbox  #}
                            {% if tip.image %}
                                <!-- Button trigger modal -->
                                <i class="fa fa-camera text-dark" aria-hidden="true" data-toggle="modal" data-target="#{{i}}"></i>
                                <!-- Modal -->
                                <div class="modal fade" id="{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <img src='{{ asset('images/products/'~tip.image~' ') }}' alt="Image associée au tips">                   
                                        </div>
                                    </div>
                                </div>    
                            {% else %}
                                <i class="fa fa-camera text-dark-grey" aria-hidden="true"></i>
                            {% endif %}
                            {#  #}
                        </div>
                    </div>
                {% endfor %}
                {% if pagination is defined %}
                    <div class="m-auto ">
                        {{ knp_pagination_render(sort) }}
                    </div>
                {% endif %}
                
                
            </div>