<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{category.nameCategory}}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include "navigation.html.twig" %}
        {% endblock %}
        {% block intro %}
            <div style="background-image: url({{ asset('images/'~category.pictureCategory~'.jpg') }});" class="box mb-5">
                <div class="opaquefilter"></div>
                <h1 class="Middletitle position-absolute">{{category.nameCategory}}</h1>
            </div>
        {% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-between no-gutters">
            <div class="boxAddTips d-flex justify-content-between col-8 mb-5">
                 <a href="{{ path('tips_new') }}" class="btn btn-primary px-5">Ajouter un tips</a>
                <div class="btn btn-secondary"> trier</div>
            </div>
            <div class="searchBar rounded col-3 mb-5">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            {# ================ pin up the tips=========== #}

            <div class="allTips d-flex flex-column col-8">
                {% set i = 0 %}
                {% for tip in tips %}
                    {% if (i % 2 == 0)%}
                        <div class="boxTips rounded p-4  bg-grey">
                    {% else %}
                        <div class="boxTips rounded p-4 ">
                    {% endif %}
                    {% set i = i + 1 %}
                        <div class="test d-flex justify-content-between">
                            <p class="text-success m-0"> {{tip.numberUsers}} utilisateurs </p>
                            <a class="btn btn-primary d-flex col-4 justify-content-center py-0 px-0">
                                <img src="{{ asset('images/logo.png') }}" alt="Logo du site (Tips) ">
                                <p class="align-self-center ml-1 m-0">J'utilise ce Tips</p>
                            </a>
                        </div>
                        <h3>{{tip.titleTips | upper}}</h3>
                        <p>{{tip.contentTips}}</p>
                        <div class="boxIcon d-flex justify-content-between mt-4">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="boxCategory rounded bg-lightgreen col-3">
                <h3 class="bg-green text-white p-4 text-center rounded">LES CATEGORIES</h3>
                <div class="container">
                    <div class="row">
                    <ul class="text-center col-12 py-3">
                    {% for cat in categories %}
                        <li class="my-1"><a class="text-white"href="{{ path('category_show', {'id': cat.id}) }}">{{cat.nameCategory}}</a></li>                               
                    {% endfor %}
                    </ul>
                    </div>
                </div>  
            </div>
            <td>{{ category.nameCategory }}</td>
            <td>{{ category.pictureCategory }}</td>
            <a href="{{ path('category_index') }}">Revenir aux catégories</a>
        </div>
    </div>
{% endblock %}
        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="{{ asset('js/app.js') }}"></script> 
        {% endblock %}
  </body>
</html>
