<nav class="navbar navbar-expand-lg navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="logo position-absolute " href="{{ path('main') }}">
      <img src="{{ asset('images/logo.png') }}" width="80" height="80"  alt="Logo">
    </a>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-between">
        <div class="boxnav d-flex">
          <a class="nav-item nav-link mx-3 " href="{{ path('concept') }}">Le concept <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link mx-3" href="{{ path('category_index') }}">Categories</a>
          <a class="nav-item nav-link mx-3" href="{{ path('top100') }}">Top 100</a>
        </div>
        <div class="d-flex">
          {% if not app.user %}
            <a class="nav-item nav-link mx-3" href="{{ path('app_register') }}"><span class="fa fa-user-o mr-2"></span>S'inscrire</a>
            <a class="nav-item nav-link" href="{{ path('app_login') }}"><span class="fa fa-user mr-2"></span>Connexion</a>
          {% else %}
            <a class="nav-item nav-link" href="{{ path('myAccount') }}"><span class="fa fa-user mr-2"></span>Mon compte</a>
            <a class="nav-item nav-link ml-3" href="{{ path('app_logout') }}"><span class="fa fa-sign-out mr-2"></span>Déconnexion</a>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</nav>
